@import '@/styles/variables';
@import "@/styles/mixins";

.menuToggle {
  @include position(fixed, 2rem, 2rem, null, null);
  @include flexCenter(row);
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: $animation-primary;
  z-index: 1000;

  
  @include respond-to(large-desktop, min) {
    display: none;
  }

  @include respond-to(medium-tablet) {
    @include position(fixed, 1rem, 1rem, null, null);
    width: 48px;
    height: 48px;
  }
}

.hamburger {
  @include flexCenter(row);
  position: relative;
  width: 32px;
  height: 20px;

  @include respond-to(medium-tablet) {
    width: 28px;
  }

}

.line {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: white;
  border-radius: 4px;
  transform-origin: center;
  will-change: transform, opacity;
  transition: background-color 0.3s ease;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center;
  }

  &:nth-child(3) {
    bottom: 0;
  }

  @include respond-to(medium-tablet) {
    height: 2px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .menuToggle,
  .line {
    transition: none;
    animation: none;
  }
}